.create-post-container {
    padding: 100px 450px; 
    
    input {
        text-align: center;padding: px; font-size: 1.2em; text-transform: capitalize;    }
    label {
        font-weight: bold; text-transform: uppercase;
        font-size: 1em;margin-top: 10px;display: block; padding: 5px  0px;
    }
    .name-product ,.postDescription  ,.country{
        width: 100%;height: 40px; border-radius: 5px;
    }
    .item2 {
        display: inline-block; width: 50%;
        input{
            width: 100%;height: 40px; border-radius: 5px;
        }
    }
    .selectorr {
        width: 100%; height: 40px ; border-radius: 5px;
    }
    .error-section {
        color: red;padding: 5px 0px;
    }

    .buttomm {
        padding: 15px; background-color: rgb(83, 83, 235);
        width: 100%; cursor: pointer;
    }
    .container-section {
        width: 80px; height: 80px; margin-left: auto; margin-right: auto;
        margin-bottom: 50px;
    }

}




